:root {
    --blue-logo: #0f5377;
    --red-logo: #8e2e44;
}

html {
    height: 100%;
}
  
body{
    background-color:blue;
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    height: 100%;
    padding: 50px;
}

.mainBox{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

.screen{
    background-color: white;
    box-sizing: border-box;
    display: block;
    padding: 50px;
    text-align: left;
    border-radius: 15px;
    max-height: 90%;
    overflow: auto;   
}

/* lettere logo*/
.n{
    fill: var(--blue-logo);
}
.o{
    fill: var(--blue-logo);
}
.a{
   fill:var(--red-logo); 
}
.i{
    fill:var(--red-logo);
}
.punto{
    fill:var(--red-logo);
}
/*------------------------------------------------------*/
.titolo{
    color: rgba(0, 0, 0, 0.852);
    margin-left: 1px;
    margin-right: 15px;
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
}

.area {
    width: 100%;
    position: relative;
    border: 2px dashed blue;
    background-color: rgba(0, 0, 255, 0.258);
    background-image: url("https://cdn-icons-png.flaticon.com/512/126/126477.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 48px 41px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    filter: alpha(opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    text-align: left;
    padding: 12px 72px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 7px;
}

.area input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.area .spinner {
    display: none;
    margin-top: 50%;
}

.area:hover,
.area.dragging,
.area.uploading {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.area.uploading {
    background: none;
}

#form{
    background-color: rgba(0, 0, 255, 0.142);
    border-color: rgba(0, 0, 255, 0.142);
    border-radius: 5px;
    max-height: auto;
    min-height: 50px;
    outline-color: blue;
    padding: 15px 4%;
    font-family: 'Roboto', sans-serif !important;
    border-bottom: 50px;
    width: 92%!important;
    margin-bottom: 25px;
    border-radius: 10px;
    margin-top: 7px;
}

.scelta{
    background-color: white;
    border: 1px solid blue;
    height: 40px;
    width: 100%;
    text-align: left;
    font-family: 'Roboto', sans-serif !important;
    padding: 5px;
    position: relative;
    border-radius: 10px;
}

.scelta.active{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
}

#opzione{
    background-color: white;
    border: 1px solid blue;
    height: 100%;
    text-align: left;  
    font-family: 'Roboto', sans-serif !important;
    padding: 15px;   
    border-top-style: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arrow {
    border:  solid blue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: 15px;
    transition: 0.2s;
    top: 14px;
}
.active .arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#invio{
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin: 25px auto 10px auto;
    border: none;
    font-size: 16px;
    padding: 12px 25px;
    cursor: pointer;
    transition: 0.2s;
}

#invio:hover{
    opacity: 0.7;
}

.errortext{
    background-color: rgba(255, 0, 0, 0.219);
    color:black;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}